.container {
    height: 100vh;
    padding: 0% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 244, 255);
}
.App 
{
    text-align: center;
    height: 100vh;
}

.App-link 
{
    color: #61dafb;
}

.navbar-brand 
{
    font-size: 30px;
}

.active 
{
    margin: 0px 5px;
}

.row 
{
    margin: 0 0;
}